<?xml version="1.0"?>
<config>
    <modules>
        <MageD_CmsNavigation>
            <version>0.1.0</version>
        </MageD_CmsNavigation>
    </modules>
    <global>
        <models>
            <maged_cmsnavigation>
                <class>MageD_CmsNavigation_Model</class>
            </maged_cmsnavigation>
            <catalog>
                <rewrite>
                    <observer>MageD_CmsNavigation_Model_Rewrite_Catalog_Observer</observer>
                </rewrite>
            </catalog>
        </models>
        <events>
            <adminhtml_cms_page_edit_tab_main_prepare_form>
                <observers>
                    <maged_page_edit_tab_content>
                        <type>singleton</type>
                        <class>MageD_CmsNavigation_Model_Observer_Cms</class>
                        <method>prepareForm</method>
                    </maged_page_edit_tab_content>
                </observers>
            </adminhtml_cms_page_edit_tab_main_prepare_form>
            <page_block_html_topmenu_gethtml_before>
                <observers>
                    <maged_navigation_add_topmenu_items>
                        <class>MageD_CmsNavigation_Model_Observer_Cms</class>
                        <method>addCmsToTopmenuItems</method>
                    </maged_navigation_add_topmenu_items>
                </observers>
            </page_block_html_topmenu_gethtml_before>
        </events>
        <resources>
            <maged_cmsnavigation_setup>
                <setup>
                    <module>MageD_CmsNavigation</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
            </maged_cmsnavigation_setup>
        </resources>
        <helpers>
            <maged_cmsnavigation>
                <class>MageD_CmsNavigation_Helper</class>
            </maged_cmsnavigation>
        </helpers>
    </global>
</config> 